.todo {
    width: 600px;
    min-height: 700px;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    padding: 0px 45px;
    padding-bottom: 30px;
    margin-bottom: 100px;

}